* {
   box-sizing: border-box;
}

body {
  background-color: #faeef0;
  font-family: "avenir";
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding-bottom: 72px;
}

header {
  text-align: center;
}

header, h1 {
  color: #114e60;
}

header, h2 {
  color: #ebb5a2;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#overlayw {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayw p {
  color: white;
  line-height: 21px;
}

#closew {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

#overlayp {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayp p {
  color: white;
  line-height: 21px;
}

#closep {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

#overlayl {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayl p {
  color: white;
  line-height: 21px;
}

#closel {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

footer {
  background-color: black;
  /* min-width: 768px; */
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 24px;
}

footer a {
  padding: 48px;
  color: white;
}

footer a:visited {
  color: white;
}

/* media query for desktop */
@media only screen and (min-width: 769px) {

#items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
}

#water {
  width: 310px;
  position: relative;
  overflow: hidden;
  padding: 21px;
  cursor: pointer;
}

#pencil {
  width: 310px;
  position: relative;
  overflow: hidden;
  padding: 21px;
  cursor: pointer;
}

#lip {
  width: 310px;
  position: relative;
  overflow: hidden;
  padding: 21px;
  cursor: pointer;
}

#overlayw {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayw p {
  color: white;
  line-height: 21px;
}

#closew {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

#overlayp {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayp p {
  color: white;
  line-height: 21px;
}

#closep {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

#overlayl {
  background-color: #114e60;
  width: 540px;
  padding: 21px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

#overlayl p {
  color: white;
  line-height: 21px;
}

#closel {
  position: absolute;
  color: #ebb5a2;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

}
