body {
  font-family: "avenir";
  margin: auto;
  width: 65%;
  padding-bottom: 72px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

#menu {
  display: inline;
}

#square1 {
  position: absolute;
  background-color: pink;
  width: 65%;
  height: 250px;
}

#text {
  padding-top: 260px;
}

footer {
  background-color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 24px;
}

footer a {
  padding: 48px;
  color: white;
}

footer a:visited {
  color: white;
}
