body {
  background-color: #f8dac5;
  font-family: "avenir";
  margin: auto;
  width: 65%;
  height: 65%;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  color:#ffb034;
  min-width: 700px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#formSection {
  grid-column-start: 1;
  grid-column-end: 2;
}


#myMsg {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ea9a96;
  padding: 20px;
  color: white;
  line-height: 24px;
}

h4 {
  color: #e75a48;
}

input[type="text"] {
  border: none;
  background-color: #ea9a96;
  padding: 10px;
  color: white;
}

input[type="text"]:focus {
  background-color: #ea9a96;
  color: white;
}

input[type="reset"], input[type="submit"] {
  border: none;
  background: #ffb034;
  padding: 10px;
  margin-top: 24px;
}

input[type="reset"]:hover, input[type="submit"]:hover {
  background: #e75a48;
  color: white;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

footer {
  background-color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 24px;
}

footer a {
  padding: 48px;
  color: white;
}

footer a:visited {
  color: white;
}
